<form class="formStyle max-w-sm mx-auto mt-4">
    <div class="flex items-center space-x-4">
        <select id="currency" class="py-2.5 px-4 border border-gray-300 rounded-l-lg bg-gray-100">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
        </select>
        <input type="number" id="amount" placeholder="Введіть суму"
               class="InputTitle py-2.5 px-4 border border-gray-300 rounded-r-lg w-32">
    </div>
</form>