<nav class="bg-white border-white-200 l:bg-white-900">

    <div class="flex justify-between items-center mx-auto max-w-screen-xl p-4">
        <div class="flex-1 text-center">
            <a>
                <span class="block text-2xl font-semibold whitespace-nowrap text-red-500 dark:text-red-500">
                    Mono Converter
                </span>
            </a>
        </div>

        <div>
            <a href="#" class="FontSize text-sm text-blue-600 dark:text-blue-500 hover:underline">Вхід</a>
        </div>
    </div>
    <hr class="border-t border-red-400">
</nav>




<nav class="bg-white-50 dark:bg-white-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Валюта</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Депозити</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Кредити</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Банки</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Страхування</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Інвестиції</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Криптовалюта</a>
                </li>
                <li>
                    <a href="#" class="TextColor  hover:underline">Індекси</a>
                </li>
            </ul>

        </div>
        <hr class="separator border-gray-400">

        <ul class="StyleForUl flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
            <li>
                <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Валюта</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Міжбанк</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Курси у банках</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Валютний аукціон</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">НБУ</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Мобільний додаток</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Конвертер</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Форум</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Курси з API</a>
            </li>
            <li>
                <a href="#" class="TextDown  hover:underline">Ще</a>
            </li>
        </ul>



    </div>
</nav>