<section class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Усі курси калькулятора валют</h2>
    <table class="min-w-full bg-gray-100 border border-gray-300 rounded-lg">
        <thead>
            <tr class="bg-green-500 text-white">
                <th class="py-3 px-4 text-left text-sm font-medium">Курс</th>
                <th class="py-3 px-4 text-left text-sm font-medium">100 USD в UAH</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Середній курс у банках</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 115 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Курс Міжбанку</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 120 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Середній курс в обмінниках</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 125 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Курс НБУ</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 136,8 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Курс Visa</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 222,97 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Курс Mastercard</td>
                <td class="py-3 px-4 text-sm text-gray-600">4 223,69 UAH</td>
            </tr>
            <tr class="border-b border-gray-300 hover:bg-gray-50">
                <td class="py-3 px-4 text-sm font-medium text-gray-700">Курс для договорів</td>
                <td class="py-3 px-4 text-sm text-gray-600">-</td>
            </tr>
        </tbody>
    </table>
</section>

