<section class="bg-gray-100 p-6 rounded-lg shadow-lg mt-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Відгуки користувачів</h2>
    <div class="space-y-4">
        <div class="flex items-start space-x-4">
            <div class="w-30 h-10 rounded-full bg-gray-300 flex items-center justify-center text-white font-semibold">
                <img src="/Images/Girl.jpg" alt="Анастасія К." class="w-full h-full object-cover">
            </div>
            <div>
                <p class="text-gray-700 font-medium">Анастасія К.</p>
                <p class="text-gray-600 italic">"Використовувала калькулятор валют для планування подорожі. Дуже зручно і швидко можна дізнатися актуальний курс валют, що робить обмін вигідним. Рекомендую!"</p>
            </div>
        </div>
        <div class="flex items-start space-x-4">
            <div class="w-24 h-10 rounded-full bg-gray-300 flex items-center justify-center text-white font-semibold">
                <img src="/Images/Man.jpg" alt="Анастасія К." class="w-full h-full object-cover">
            </div>
            <div>
                <p class="text-gray-700 font-medium">Іван П.</p>
                <p class="text-gray-600 italic">"Користуюсь калькулятором для оцінки фінансових операцій між компаніями. Результати завжди точні, і це значно спрощує процес." </p>
            </div>
        </div>
        <div class="flex items-start space-x-4">
            <div class="w-24 h-10 rounded-full bg-gray-300 flex items-center justify-center text-white font-semibold">
                <img src="/Images/Girl2.jpg" alt="Анастасія К." class="w-full h-full object-cover">
            </div>
            <div>
                <p class="text-gray-700 font-medium">Марія С.</p>
                <p class="text-gray-600 italic">"Чудовий калькулятор! Легко користуватися, а також є підтримка криптовалют. Це справжня знахідка для тих, хто часто обмінює валюту." </p>
            </div>
        </div>
    </div>
</section>